{% extends 'base.html.twig' %}

{% block body %}
    <div class="main">
    <center><h3>{{ page }}</h3></center> 
    <!-- article one -->
    <div class="article-one">
        <div class="container">
            <div class="row">
                {% for i in range(1, 10) %}
                    <div class="col-md-4 col-sm-6 col-xs-12">
                            <div class="article mt-5">
                                <div class="image-area">
                                
                                    <img src="{{ asset('images/banner.jpg') }}" class="img-responsive"/>
                                
                                </div>                                    
                                <p>
                                    <a href="{{ path('main_home') }}"><button type="button" class="btn button-style btn-lg btn-block">Titre {{ i }}</button></a>
                                </p>
                            </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>

    </div>
{% endblock %}